<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<div id='bodybox'>
    <h3 style="text-align: center;">Welcome to Studypal chatbot! Say <span style="color:#ec7215">Hi</span> to start chatting.</h3>
  <div id='chatborder'>
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here & press enter to talk to me." onfocus="placeHolder()">
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chat4.js') }}"></script>